@tailwind base;
@tailwind utilities;
@tailwind components;


@layer components {
  .btn {
    @apply px-4 py-2 mt-4 border rounded font-bold bg-[var(--primary)] text-[var(--secondary)] border-2 border-[var(--primary)];
  }
  .btn-inverted {
    @apply btn bg-[var(--secondary)] text-[var(--primary)] border-2 border-[var(--primary)] hover:bg-[var(--secondary)]
  }
}

:root {
  --primary: black;
  --secondary: white;

  // pink
  // --primary: #797596;
  // --secondary: #A1869E;
}

// refactor this; try not setting global css?
body {
  color: var(--primary);
  background-color: var(--secondary);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  background-color: #34312D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.history {

  td {
    padding: 2px 4px;
  }

  .current-move {
    background-color: #b84a0a;
    color: #f0ddb2;
  }
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .game-container {
    position: relative;
  }

  .game-data-input {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .controls {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
  }

  .title {
    text-align: center;
  }

}

.board {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.rank {
  display: flex;
}


.square {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

  &.light {
    background-color: #f0ddb2;
  }

  &.dark {
    background-color: #b8895f;
  }

  .control-overlay {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .piece {
    position: absolute;
  }
}